/* dark mode */

.dark-mode-trigger svg {
  cursor: pointer;
  fill: var(--color-bg-dark);
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}
.dark-mode-trigger:hover svg {
  fill: var(--color-primary);
  opacity: 1;
  transform: scale(1.1);
}
body.dark .dark-mode-trigger svg {
  fill: var(--color-primary);
  opacity: 1;
}

/* Hide the sun in night */
body.dark .dark-mode-trigger .moon {
  height: 0 !important;
  width: 0 !important;
}
/* Hide the moon in day*/
body.light .dark-mode-trigger .sun {
  height: 0 !important;
  width: 0 !important;
}

body.dark {
  background: var(--color-bg-dark);
  color: var(--color-base-dark);
}
body.dark a {
  color: var(--color-primary);
}

body.dark .page-head-title {
  color: var(--color-base-dark);
}

body.dark .site-head-left a,
body.dark .site-head-right a,
body.dark .post-content-title {
  color: var(--color-base-dark);
}
body.dark .post-content-excerpt {
  color: var(--color-base-dark);
}
/* image border-colors */
body.dark .kg-width-full img {
  border-color: var(--color-base);
}
body.dark .post-content-body p picture img {
  border-color: var(--color-base);
}

/* buttons */
body.dark input[type="submit"],
body.dark input[type="reset"],
body.dark input[type="button"],
body.dark button,
body.dark .button {
  color: color(var(--color-base-dark) l(-15%)) !important;
  box-shadow: inset 0 0 0 2px color(var(--color-base-dark) l(-10%));
}

/* hamburger */
body.dark .hamburger-inner::before,
body.dark .hamburger-inner,
body.dark .hamburger-inner::after {
  background-color: var(--color-base-dark);
}

@media (max-width: 850px) {
  body.dark .site-head-open {
    background: black;
  }
}
