.fixed-logo {
  position: fixed;
  top: 2vw;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.fixed-logo.scrolled {
  top: -2vw;
  transform: scale(0.8) rotate(-270deg);
}

@media (max-width: 850px) {
  .fixed-logo {
    top: 3vw;
  }
}

.fixed-logo:hover {
  transform: scale(1.1) rotate(-90deg);
}
.fixed-logo.fixed-logo.scrolled:hover {
  top: 0;
}
